* {
  box-sizing: border-box;
}

body {
  font-family: Georgia;
  margin: 0;
  background: #1a1a1a;
}

a{
  font-family: Georgia;
  font-size: calc(100% + .5vw);
  text-decoration: none;
}
h2{
  font-size: calc(20px + 1vw);
}

.text{
  font-size: calc(8px + .8vw);
  background-color:#d0d0e1;
  padding:1vw;
}

/* Header/logo Title */
.header {

  font-size: calc(100% + .5vw);
  padding: 60px;
  text-align: center;
  background-image: url("/static/images/maisemaa5.jpg");
  color: white;
  min-height: 10vw;
}

.navbarContainer{
  background: #1a1a1a;
}
/* Style the top navigation bar */
.navbar {
  background: url("/static/images/maisemaa5.jpg");

  background-position: right 50%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: flex;
}

/* Style the navigation bar links */
.navbar a {
  border: 0.1vw inset;
  border-color: #7575a3;
  font-size: calc(80% + .8vw);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover  {
  background: url("/static/images/maisemaa5.jpg");
  background-position: right 20%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.clearfix{
  overflow: auto;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #e0e0eb;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: #efeff5;
  padding: 20px;
}

/* Fake image, just for this example */
.backgroundImage {
  padding: 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: right 60%;
}

#cabinMap{
  background-color: #aaa;
  height: 40%;
  position:  relative;
  top: 0;
  bottom: 0;
  }

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbarContainer {
    flex-direction: column;
  }
}
